.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 60px;
}

.header-img {
  height: 105%;
  margin-bottom: -56%;
  margin-left: -97%;
  width: 49%;
  border-radius: 60%;
}


.header-page-links {
  display: flex;
  margin: 10px;
  margin-left: 74%;
  margin-bottom: 0%;
}
.header-page-links > * {
  margin-left: 25px;
  font-size: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
